<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <img src="assets/img/logo_live_add.png" alt="" class="icon-in-button">
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="cw-background-chat">
  <ion-grid id="homeContainer">
    <ion-row>
      <ion-col col-3>
        <div class="avatarFrameonline">
          <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
        </div>
      </ion-col>

      <ion-col col-9>
        Nick <br>
        <small>Subnick</small> <br>
        <small><b>wladdylopez@hotmail.com</b></small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="search-box-container">
    <ion-input type="search" id="searchField" [(ngModel)]="query" placeholder="Buscar ..."></ion-input>
  </div>

  <div>
    <div>
      <b>Amigos</b>
    </div>

    <div class="contact-list-item"  
      [ngClass]="getContactStatusClass(user)" 
      [ngStyle]="{'color':getContactStatusStytle(user)}" 
      *ngFor="let user of friends | search:query" (click)="goToConversation(user)">
      <img src="assets/img/{{getIconByStatus(user.status)}}" class="status">
      <b>{{user.nick}}</b>
      <small *ngIf="user.status">{{user.status}}</small>
    </div>
  </div>



  <!--<button ion-button (click)="goToConversation()">Ir a Conversation</button>
  -->
  <button ion-button (click)="goToLogin()">Ir a Login</button>
  <button ion-button (click)="goToAbout()">Acerca de</button>

</ion-content>